body {
    background-color: #DDDDDD;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #658864;
    border-width: 10px;
    width: 5%;
} 
h1  {
    color: #658864;
}  

h3 {
    color: #658864;
}

.img {
    border-radius: 100%;
}